[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
install = "*"
django-filter = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
redis = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
requests = "*"
gunicorn = "*"
psycopg2 = "*"
djangorestframework-api-key = "*"

[dev-packages]

[requires]
python_version = "3.8"
